@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+15&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.letter-one {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.letter-two {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.letter-three {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

letter-four {
  font-size: 45px;
  font-weight: bold;
  color: rgb(35, 211, 28);
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.letter-five {
  font-size: 40px;
  font-weight: normal;
  color: rgb(207, 191, 148);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Jersey 15", sans-serif;
}

.letter-six {
  font-size: 40px;
  font-weight: bold;
  color: rgb(41, 134, 172);
  text-decoration: underline;
  text-transform: none;
  font-family: "Barlow Condensed", sans-serif;
}

.letter-seven {
  font-size: 50px;
  font-weight: normal;
  color: #c942b7;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}

.letter-eight {
  font-size: 35px;
  font-weight: 700;
  color: #c70000;
  text-decoration: none;
  text-transform: none;
  font-family: "Jersey 15", sans-serif;
}

.letter-nine {
  font-size: 65px;
  font-weight: normal;
  color: rgb(70, 221, 241);
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: "Barlow Condensed", sans-serif;
}

.letter-ten {
  font-size: 25px;
  font-weight: bold;
  color: rgb(251, 255, 6);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Roboto", sans-serif;
}

.letter-eleven {
  font-size: 65px;
  font-weight: 400;
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Jersey 15", sans-serif;
}

.letter-twelve {
  font-size: 18px;
  font-weight: 700;
  color: #77136f;
  text-decoration: overline;
  text-transform: none;
  font-family: "Jersey 15", sans-serif;
}

.letter-thirteen {
  font-size: 57px;
  font-weight: normal;
  color: rgb(233, 124, 0);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Roboto", sans-serif;
}

.theHLetter,
.rootOTwoLetter {
  font-size: 34px;
  font-weight: bold;
  color: #7ea81a;
  text-decoration: underline overline;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
